{% extends 'base.html' %} {% block content %}
<h1>Filter Jobs</h1>
<hr>
<div class="mx-auto" style="width: 600px;">
    filter jobs
    <form method="GET">
        <table class="table table-hover">
            {{ filter.form.as_table }}
        </table>

        <button class=" btn btn-primary" type="submit">Filter by Job</button>
    </form>
</div>
<div>
    <div class="col-sm-8 input">
        select all to create memo
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form }}
            <button class=" btn btn-primary" type="submit" href='add_memo.html' type="submit"
                value="Choose">Select</button>
        </form>
    </div>
</div>
{% for job in filter.qs %}


<table class="table table-sm">


    <thead class=" thead-dark">

        <tr>
            <th scope="col"></th>
            <th scope="col">Select</th>
            <th scope="col">Order Number</th>
            <th scope="col">SKU</th>
            <th scope="col">Quantity</th>
            <th scope="col">Number of Stones</th>
            <th scope="col">Description</th>
            <th scope="col">Created By: (In-House)</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Updated</th>
        </tr>
    </thead>

    <tbody>


        <tr>

            <th scope="row"> <a href="{% url 'job-detail' job.pk %}"> See Details</a> </th>


            <td>
                <!-- TODO: write for loop that only grabs selected items -->
                {% if job %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" value="{{job.pk}}" name="boxes">
                </div>
                {% else %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{job.pk}}" name="boxes">
                </div>
                {% endif %}
            </td>
            <td>{{ job.order_num }}</td>
            <td>{{ job.SKU }}</td>
            <td>{{ job.num_items }}</td>
            <td>{{ job.num_stones }}</td>
            <td>{{ job.description_text }}</td>
            <td>created by (In-House): {{ job.creator_name.id }} {{ job.creator_name }} -
                {{ job.creator_name.first_name }}
                {{ job.creator_name.last_name }}
                - {{ job.creator_name.email }}</td>
            <td>{{ job.created }}</td>
            <td>{{ job.updated }}</td>

        </tr>
    </tbody>
</table>
{% endfor %}
<button class="btn btn-secondary">Select All</button>





<hr />


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
        <h2 class="title-page">Search Result</h2>
        {% else %}
        <h2 class="title-page">Our Store</h2>
        {% endif %}

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">

                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1" style="">
                            <div class="card-body">

                                <ul class="list-menu">
                                    <li><a href="">All Products </a></li>
                                    {% for category in links %}
                                    {% endfor %}
                                </ul>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->

                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-md-9">

                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto"><b>{{ product_count }}</b> items found </span>

                    </div>
                </header><!-- sect-heading -->

                <div class="row">
                    {% if products %}
                    {% for product in products %}
                    <div class="col-md-4">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">

                                <a href="{{ product.get_url }}"><img src="{{ product.images.url }}"></a>

                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <div class="fix-height">
                                    <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                                    <div class="price-wrap mt-2">
                                        <span class="price">$ {{ product.price }}</span>
                                    </div> <!-- price-wrap.// -->
                                </div>
                                <a href="{{ product.get_url }}" class="btn btn-block btn-primary">View Details </a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    {% endfor %}
                    {% else %}
                    <div>
                        <h2>No result found. Please try again.</h2>
                    </div>
                    {% endif %}
                </div> <!-- row end.// -->


                <nav class="mt-4" aria-label="Page navigation sample">
                    {% if products.has_other_pages %}
                    <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{products.previous_page_number}}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}

                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>

            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}

<!-- http://localhost:8000/system/ -->