{% extends 'base.html' %} {% block content %}

<hr>
<div class="mx-auto" style="width: 600px;">
    <form method="GET" class="form-control form-control-sm">
        <table class="table table-hover table-sm">
            {{ filter.form.as_table }}
        </table>
        <button class=" btn btn-primary" type="submit">Filter by Job</button>
    </form>
</div>
<hr>
<h1> All Jobs</h1>
<hr>






{% for job in filter.qs %}


<table class="table table-sm">


    <thead class=" thead-dark">

        <tr>
            <th scope="col"></th>
            <th scope="col">Select</th>
            <th scope="col">Order Number</th>
            <th scope="col">SKU</th>
            <th scope="col">Quantity</th>
            <th scope="col">Number of Stones</th>
            <th scope="col">Description</th>
            <th scope="col">Created By: (In-House)</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Updated</th>
        </tr>
    </thead>

    <tbody>


        <tr>

            <th scope="row"> <a href="{% url 'job-detail' job.pk %}" class="btn btn-primary"> See Details</a> </th>







            <td>


                <a href="{% url 'add_memo' job.id %}" class="btn btn-primary">Add to 'memo'</a>

            </td>





            <td>{{ job.order_num }}</td>
            <td>{{ job.SKU }}</td>
            <td>{{ job.num_items }}</td>
            <td>{{ job.num_stones }}</td>
            <td>{{ job.description_text }}</td>
            <td>created by (In-House): {{ job.creator_name.id }} {{ job.creator_name }} -
                {{ job.creator_name.first_name }}
                {{ job.creator_name.last_name }}
                - {{ job.creator_name.email }}</td>
            <td>{{ job.created }}</td>
            <td>{{ job.updated }}</td>

        </tr>
    </tbody>
</table>
{% endfor %}









{% endblock %}

<!-- http://localhost:8000/system/ -->