{% extends 'base.html' %} {% block content %}
<h1>Finalize Memo</h1>

<div class="card-body">
    <form action="POST">
        <table class="table table-hover table-sm">
            <div class="form-row">
                <label for="">(In-house) - Setter First Name:</label>
                <input type="text" name="" class="form-control" required>
            </div>
            <div class="form-row">
                <label for="">(In-house) - Setter Last Name</label>
                <input type="text" name="" class="form-control" required>
            </div>
            <div class="form-row">
                <label for="">(In-house) - Setter Email </label>
                <input type="text" name="" class="form-control" required>
            </div>
            <div class="form-row">
                <label for="">Note</label>
                <input type="text" name="" class="form-control" required>
            </div>
        </table>
        <button class=" btn btn-primary" type="submit">Finalize Memo</button>

    </form>
</div>






{% endblock %}